version: '3'

services:

  worker:
    build:
      context: .
      dockerfile: docker/worker/Dockerfile
    container_name: 'repeat-bot-tests-worker'
    volumes:
      - .:/app/
    networks:
      - repeat-bot-tests-network

  mysql:
    image: mysql:5.7.22
    container_name: 'repeat-bot-tests-mysql'
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: asterios
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./tests/_data/dump.sql:/docker-entrypoint-initdb.d/dump.sql
    networks:
      - repeat-bot-tests-network

  redis:
    container_name: 'repeat-bot-tests-redis'
    image: redis:3.2
    ports:
      - "127.0.0.1:6379:6379/tcp"
    networks:
      - repeat-bot-tests-network

networks:
  repeat-bot-tests-network:
    driver: bridge